{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'finance/style.css' %}">
    <title>{% block title %}Finance Tracker{% endblock %}</title>
    <link rel="icon" href="{% static 'finance/favicon.ico' %}">
</head>

<body>
    <header>
        <h1><a href="{% url 'account' %}">Finance Tracker</a></h1>
        <nav>
            <a href="{% url 'account' %}">Accounts</a>
            <a href="{% url 'transaction_category' %}">Transaction Categories</a>
            <a href="{% url 'transaction_type' %}">Transaction Types</a>
            <a href="{% url 'transaction_map' %}">Transaction Maps</a>
            <a href="{% url 'transaction' %}">Transactions</a>
            <a href="{% url 'transaction_file_downloader' %}">File Uploader</a>
        </nav>
    </header>
    
    <main>
        <div id='control-column'>
            {% block control_sidebar %}{% endblock %}
        </div>
        <div id='content-column'>
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>