{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'finance/style.css' %}">
    <title>{% block title %}Finance Tracker{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <h1><a href="{% url 'account' %}">Finance Tracker</a></h1>
        <nav class="navbar-items">
            <a href="{% url 'account' %}">Accounts</a>
            <a href="{% url 'transaction_category' %}">Transaction Categories</a>
            <a href="{% url 'transaction_map' %}">Transaction Maps</a>
            <a href="{% url 'transaction_type' %}">Transaction Types</a>
            <a href="{% url 'transaction' %}">Transactions</a>
        </nav>
    </div>

    {% block content %}{% endblock %}
</body>
</html>