{% extends "./base.html" %}

{% block control_sidebar %}

    <h2>Insert Transaction Map</h2>

    <form action="{% url 'transaction_map' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Insert Transaction Map">
    </form>

    <h2>Search for Transaction Maps</h2>

    <form action="{% url 'transaction_map' %}" method='get'>

        <fieldset>
            <!-- Search by transaction type or transaction category-->
            <label for="transaction-type">Transaction Type:</label>
            <select name='transaction_type_selector', id='transaction-type'>
                {% for t in transaction_type %}
                    <option value={{ t }}>{{ t.name }}</option>
                {% endfor %}
            </select>
        </fieldset>

        <input type="submit" value="Search for Transaction Types">
    </form>

    <form action="{% url 'transaction_map' %}" method='get'>

        <fieldset>
            <!-- Search by transaction type or transaction category-->
            <label for="transaction-category">Transaction Category:</label>
            <select name='transaction_category_selector', id='transaction-category'>
                {% for t in transaction_category %}
                    <option value={{ t }}>{{ t.name }}</option>
                {% endfor %}
            </select>
        </fieldset>

        <input type="submit" value="Search for Transaction Categories">
    </form>

{% endblock %}

{% block content %}

    <h2>Transaction Maps</h2>

    <!-- A form to re-get this page with appropriate filters -->

    {% if transaction_maps %}
        <table>
            <tr>
                <th scope="col">Transaction Name</th>
                <th scope="col">Transaction Description</th>
                <th scope="col">Transaction Type</th>
            </tr>
            {% for t in transaction_maps %}
                <tr>
                    <td><pre>{{ t.name }}</pre></td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.type }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transaction maps are available.</p>
    {% endif %}

{% endblock %}
