{% extends "./base.html" %}

{% block control_sidebar %}

<h2>Import Transactions</h2>

    <form action="{% url 'transaction' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="start">Start month:</label>
            <input type="month" id="start" name="start" min="2017-01" value="2024-01" />

            <label for="end">End month:</label>
            <input type="month" id="end" name="end" min="2027-01" value="2024-02" />
        </fieldset>
        <input type="submit" value="Import Transactions">
    </form>

<h2>Search for Transactions</h2>

    <form action="{% url 'transaction' %}" method='get'>

        <fieldset>
            <!-- Search by transaction type or transaction category-->
            <label for="transaction-category">Transaction Category:</label>
            <select name='transaction_category_selector', id='transaction-category'>
                <option value="">Select a Transaction Category</option>
                {% for t in transaction_category %}
                    <option value={{ t }}>{{ t.name }}</option>
                {% endfor %}
            </select>

            <label for="transaction-type">Transaction Type:</label>
            <select name='transaction_type_selector', id='transaction-type'>
                <option value="">Select a Transaction Type</option>
                {% for t in transaction_type %}
                    <option value={{ t }}>{{ t.name }}</option>
                {% endfor %}
            </select>

            <!-- Search by start and end months -->
            <label for="filter_start">Start month:</label>
            <input type="month" id="filter_start" name="filter_start" min="2017-01" value="2024-01" />

            <label for="filter_end">End month:</label>
            <input type="month" id="filter_end" name="filter_end" min="2027-01" value="2024-02" />
        </fieldset>

        <input type="submit" value="Search for Transactions">
    </form>

{% endblock %}

{% block content %}

    <h2>Transactions</h2>

    {% if transactions %}

        <table>
            <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Transaction Account Name</th>
                <th scope="col">Transaction Name</th>
                <th scope="col">Transaction Category</th>
                <th scope="col">Transaction Amount</th>
                <th scope="col">Transaction Flow</th>
            </tr>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.date }}</td>
                    <td>{{ t.account.name }}</td>
                    <td><pre>{{ t.mapping.name }}</pre></td>
                    <td>{{ t.mapping.type.name }}</pre></td>
                    <td>{{ t.amount }}</td>
                    <td>{{ t.flow }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transactions are available.</p>
    {% endif %}

{% endblock %}