{% extends "./base.html" %}

{% block control_sidebar %}

    <h2>Insert Transaction Map</h2>

    <form action="{% url 'transaction_map' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Insert Transaction Map">
    </form>

    <h2>Search for Transaction Maps</h2>

    <form action="{% url 'transaction_map' %}" method='get'>

        <fieldset>
            <!-- Search by transaction type or transaction category-->
            <label for="transaction-type">Transaction Type:</label>
            <select name='transaction_type_selector', id='transaction-type'>
                    <option value="">Select Transaction Type</option>
                {% for t in transaction_type %}
                    <option 
                        value="{{ t }}" 
                        {% if not transaction_category_selected and transaction_type_selected and t.name == transaction_type_selected %}
                            selected=True
                        {% endif %}>
                        {{ t.name }}
                    </option>
                {% endfor %}
            </select>
        </fieldset>

        <input type="submit" value="Search for Transaction Types">
    </form>

    <form action="{% url 'transaction_map' %}" method='get'>

        <fieldset>
            <!-- Search by transaction type or transaction category-->
            <label for="transaction-category">Transaction Category:</label>
            <select name='transaction_category_selector', id='transaction-category'>
                <option value="">Select Transaction Category</option>
                {% for t in transaction_category %}
                    <option
                        value="{{ t }}"
                        {% if not transaction_type_selected and transaction_category_selected and t.name == transaction_category_selected %}
                            selected=True
                        {% endif %}>
                            {{ t.name }}
                    </option>
                {% endfor %}
            </select>
        </fieldset>

        <input type="submit" value="Search for Transaction Categories">
    </form>

    {%if transaction_maps %}
        <h2>View Transactions</h2>
        <!-- show a form to show what transactions are available for a given transaction map-->
        <form action="{% url 'transaction_map' %}" method='get'>
            <fieldset>
                <label for="transaction-map">Select Transaction Map:</label>
                <select name='transaction_map_selector', id='transaction-map'>
                    {% for t in transaction_maps %}
                        <option value="{{ t.name }}">{{ t.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="transaction_type_selector", value={{ transaction_type_selected }}>
                <input type="hidden" name="transaction_category_selector", value={{ transaction_category_selected }}>    
            </fieldset>
            <input type="submit" value="View Related Transactions">
        </form>
    {% endif %}

    {% if transaction_maps %}
        <h2>Update Transaction Maps</h2>
        <!-- show a form to post an update to a transaction -->
        <form action="{% url 'transaction_map' %}" method='post'>
            {% csrf_token %}
            <fieldset>
                <label for="transaction-map">Select Transaction Map:</label>
                <select name='name', id='transaction-map'>
                    <option value="">Select a Transaction Map</option>
                    {% for t in transaction_maps %}
                        <option value="{{ t.name }}"><pre>{{ t.name }}</pre></option>
                    {% endfor %}
                </select>


                <label for="transaction-type">Transaction Type:</label>
                <select name='type', id='transaction-type'>
                    <option value="">Select a Transaction Type</option>
                    {% for t in transaction_type %}
                        <option value={{ t.id }}>{{ t.name }}</option>
                    {% endfor %}
                </select>

                <label for="transaction-mapping-description">Transaction Description:</label>
                <input type="text" id="transaction-mapping-description", name="description", value="Updated Transaction Mapping Description">

            </fieldset>

            <input type="submit" value="Update Transaction Type">
        </form>
    {% endif %}

{% endblock %}

{% block content %}
    <h2>View Transaction Maps</h2>
    {% if transaction_maps %}

        <table>
            <tr>
                <th scope="col">Transaction Name</th>
                <th scope="col">Transaction Description</th>
                <th scope="col">Transaction Type</th>
            </tr>
            {% for t in transaction_maps %}
                <tr>
                    <td><pre>{{ t.name }}</pre></td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.type }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No transaction maps are available.</p>
    {% endif %}

    <h2> View Transactions </h2>
    {% if transactions %}
    <table>
        <tr>
            <th scope="col">Transaction Date</th>
            <th scope="col">Transaction Account Name</th>
            <th scope="col">Transaction Name</th>
            <th scope="col">Transaction Category</th>
            <th scope="col">Transaction Amount</th>
            <th scope="col">Transaction Flow</th>
        </tr>
        {% for t in transactions %}
            <tr>
                <td>{{ t.date }}</td>
                <td>{{ t.account.name }}</td>
                <td>{{ t.mapping.name }}</td>
                <td><pre>{{ t.mapping.type.name }}</pre></td>
                <td>{{ t.amount }}</td>
                <td>{{ t.flow }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No transactions are available.</p>
    {% endif %}

{% endblock %}
