{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'finance/style.css' %}">
    <title>{% block title %}Finance Tracker{% endblock %}</title>
    <link rel="icon" href="{% static 'finance/favicon.ico' %}">
</head>

<body>
    <header>
        <h1><a href="{% url 'transaction_account' %}">Finance Tracker</a></h1>
        <div class='login'>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.get_username }}</p>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
           {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
                <a href="{% url 'signup' %}?next={{ request.path }}">Sign Up</a>
           {% endif %}
        </div>
        <nav>
            <a href="{% url 'transaction_account' %}">Accounts</a>
            <a href="{% url 'transaction_category' %}">Transaction Categories</a>
            <a href="{% url 'transaction_type' %}">Transaction Types</a>
            <a href="{% url 'transaction_map' %}">Transaction Maps</a>
            <a href="{% url 'transaction' %}">Transactions</a>
            <a href="{% url 'transaction_file_downloader' %}">File Uploader</a>
        </nav>
    </header>
    
    <main>
        <div id='control-column'>
            {% block control_sidebar %}{% endblock %}
        </div>
        <div id='content-column'>
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>