{% extends "./base.html" %}

{% block control_sidebar %}

    <h2>Insert Transaction Type</h2>

    <form action="{% url 'transaction_type' %}" method="post">
        {% csrf_token %}

        <label for="name">Name:</label>
        <input type="text" id="name", name="name">

        <label for="description">Description:</label>
        <input type="text" id="description", name="description">

        <label for="category">Transaction Category</label>
        <select name='category', id='category'>
            {% for t in transaction_categories %}
                <option value="{{ t.id }}">{{ t.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Insert Transaction Type">
    </form>

{% endblock %}

{% block content %}

<h2>Transaction Types</h2>

    {% if transaction_types %}
        <table>
            <tr>
                <th scope="col">Transaction Type Name</th>
                <th scope="col">Transaction Type Description</th>
                <th scope="col">Transaction Category</th>
            </tr>
            {% for t in transaction_types %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.category }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transaction types are available. </p>
    {% endif %}

{% endblock %}
