{% extends "./base.html" %}

{% block control_sidebar %}

    <h2>Insert Transaction Category</h2>

    <form action="{% url 'transaction_category' %}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name", name="name">

        <label for="description">Description:</label>
        <input type="text" id="description", name="description">
        
        <input type="submit" value="Insert Transaction Category">
    </form>

{% endblock %}

{% block content %}

    <h2>Transaction Categories</h2>

    {% if transaction_categories %}
        <table>
            <tr>
                <th scope="col">Transaction Name</th>
                <th scope="col">Transaction Description</th>
            </tr>
            {% for t in transaction_categories %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{{ t.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transaction categories are available.</p>
    {% endif %}

{% endblock %}